.movie_card {
  box-shadow: 0px 0px 80px -55px #42fbf2;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 12px;
  width: 70%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}
.movie_card:hover {
  box-shadow: 0px 0px 10px 5px #42fbf2;
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  word-break: break-word;
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
  transition: ease-in-out 1s;
}
.movie_card .info_section .movie_header .filmTitleCard {
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  transition: ease-in-out 1s;
}
.movie_card .info_section .movie_header .filmRegiaCard {
  font-size: 18px;
  color: #6490e3;
  font-weight: 400;
  transition: ease-in-out 1s;
}
.movie_card .info_section .movie_header .filmDuration {
  display: inline-block;
  margin-top: 1%;
  color: #fff;
  border-radius: 5px;
  border: 3px groove rgba(255, 255, 255, 0.13);
  transition: ease-in-out 1s;
}
.movie_card .info_section .movie_header .filmGenre {
  display: inline-block;
  color: #6490e3;
  margin-left: 5%;
  transition: ease-in-out 1s;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 1s;
}

.movie_card .info_section .filmDescription {
  padding-top: 10%;
  width: 90%;
  color: #cfd6e1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  transition: ease-in-out 1s;
}

.moreInfoButton {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
  border: 0;
}

.scopriDiuPiu {
  opacity: 0;
  text-align: center;
  background: linear-gradient(to top, #212121 10%, transparent 100%);
  color: white;
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 40%;
}

.movie_card:hover .scopriDiuPiu {
  opacity: 1;
  transition: ease-in-out 1500ms;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  background-size: cover;
  border-radius: 11px;
  transition: ease-in-out 1s;
}
@media screen and (max-width: 992px) {
  .scopriDiuPiu {
    left: 30%;
  }

  .movie_card .info_section .movie_header .filmDuration {
    margin-top: 5px;
    font-size: 13px;
  }
  .movie_card .info_section .movie_header .filmDescription {
    -webkit-line-clamp: 3;
  }
  .movie_card .info_section .movie_header .filmGenre {
    font-size: 13px;
    width: 50%;
  }

  .blur_back {
    right: 100px !important;
  }

  .movie_card .info_section .movie_header .filmTitleCard {
    font-size: 17px;
  }

  .movie_card .info_section .movie_header .filmRegiaCard {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .info_section {
    background: linear-gradient(to right, black 50%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 790px) {
  .movie_card .movie_info .scopriDiuPiu {
    display: none;
  }
  .movie_card .info_section .movie_header .filmDescription {
    width: 100%;
    -webkit-line-clamp: 2;
    margin: 0;
    padding: 0;
  }

  .allMovieCards {
    margin: 50px 2.5%;
  }
  .movie_card {
    width: 95%;
    min-height: 500px;
    height: auto;
  }

  .blur_back {
    right: 350px !important;
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 280px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #141413 40%, transparent 100%);
    display: inline-grid;
  }
}
