.popUp-Container {
  /* --------------- GRADIENT AZZURO-------------------*/
  background: -webkit-linear-gradient(29deg, rgba(0, 0, 0, 1) 0%, #42fbf2 100%),
    fixed;

  /* --------------- GRADIENT FUCSIA-------------------*/
  /*  background: -webkit-linear-gradient(23deg, rgba(155,0,89,1) 0%, rgba(0,0,0,1) 100%), fixed;*/
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 199;
  opacity: 10%;
  animation: containerOpacity 800ms;
}

@keyframes containerOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 10%;
  }
}

@keyframes opacityAnimationPopUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popUp {
  margin-top: 50px;
  animation: opacityAnimationPopUp 800ms;
  background: -webkit-linear-gradient(
      29deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(37, 37, 42, 1) 80%
    ),
    fixed;
  width: 650px;
  height: auto;
  min-height: 550px;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 200;
  transform: translate(-50%, -45%);
  border-radius: 40px;
  box-shadow: rgba(66, 251, 242, 0.3) 3px -3px 5px, rgba(0, 0, 0) -5px 5px 10px;
}
