.fnc-slider {
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  perspective: 1500px;
}
.fnc-slider *,
.fnc-slider *:before,
.fnc-slider *:after {
  box-sizing: border-box;
}
.fnc-slider__slides {
  position: relative;
  height: 100%;
  transition: transform 1s 0.6666666667s;
}

.fnc-slider .m--navbg-dark {
  background-color: transparent;
}
.fnc-slider .m--blend-green .fnc-slide__inner {
  background-color: transparent;
}

.fnc-slider .m--navbg-green {
  background-color: transparent;
}
.fnc-slider .m--blend-red .fnc-slide__inner {
  background-color: transparent;
}

.fnc-slider .m--navbg-red {
  background-color: transparent;
}
.fnc-slider .m--blend-blue .fnc-slide__inner {
  background-color: transparent;
}
.fnc-slider .m--navbg-blue {
  background-color: transparent;
}
.fnc-slide {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.fnc-slide.m--before-sliding {
  z-index: 2 !important;
  transform: translate3d(100%, 0, 0);
}
.fnc-slide.m--active-slide {
  z-index: 1;
  transition: transform 1s 0.6666666667s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.fnc-slide__inner {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center top;
  transform: translate3d(0, 0, 0);
}
.m--before-sliding .fnc-slide__inner {
  transform: translate3d(-100%, 0, 0);
}
.m--active-slide .fnc-slide__inner {
  transition: transform 1s 0.6666666667s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.fnc-slide__content {
  z-index: 2;
  position: absolute;
  left: 40%;
  top: 40%;
}
.fnc-slide__heading {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.fnc-slide__heading-line {
  display: none;
  overflow: hidden;
  position: relative;
  padding-right: 20px;
  font-size: 100px;
  letter-spacing: 20px;
  color: #42fbf2;
  word-spacing: 10px;
}
.fnc-slide__heading-line:nth-child(2) {
  padding-left: 30px;
}
.m--before-sliding .fnc-slide__heading-line {
  transform: translateY(100%);
}
.m--active-slide .fnc-slide__heading-line {
  transition: transform 1.5s 1s;
  transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line {
  transition: transform 1.5s;
  transform: translateY(-100%);
}
.fnc-slide__heading-line span {
  display: block;
}
.m--before-sliding .fnc-slide__heading-line span {
  transform: translateY(-100%);
}
.m--active-slide .fnc-slide__heading-line span {
  transition: transform 1.5s 1s;
  transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line span {
  transition: transform 1.5s;
  transform: translateY(100%);
}
.fnc-slide__action-btn {
  position: relative;
  margin-left: 200px;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 1;
  color: transparent;
  border: none;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
}
.fnc-slide__action-btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  line-height: 30px;
  color: #fff;
}
.fnc-slide__action-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-top: none;
  border-bottom: none;
}
.fnc-slide__action-btn span:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  background: #1f2833;
  opacity: 0;
  transform-origin: 50% 0;
  transform: translateY(100%) rotateX(-90deg);
  transition: opacity 0.15s 0.15s;
}
.fnc-slide__action-btn:hover span {
  transform: rotateX(90deg);
}
.fnc-slide__action-btn:hover span:after {
  opacity: 1;
  transition: opacity 0.15s;
}
.fnc-nav {
  z-index: 5;
  position: absolute;
  right: 3%;
  bottom: 0;
}
.fnc-nav__bgs {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fnc-nav__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fnc-nav__bg.m--nav-bg-before {
  z-index: 2 !important;
  transform: translateX(100%);
}
.fnc-nav__bg.m--active-nav-bg {
  z-index: 1;
  transition: transform 1s 0.6666666667s;
  transform: translateX(0);
}
.fnc-nav__controls {
  font-size: 0;
}
.fnc-nav__control {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #42fbf2;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.fnc-nav__control.m--active-control {
  background: #25252a;
}
.fnc-nav__control-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition-timing-function: linear !important;
}
.m--with-autosliding .m--active-control .fnc-nav__control-progress {
  transform: scaleX(1);
}
.m--prev-control .fnc-nav__control-progress {
  transform: translateX(100%);
  transition: transform 0.5s !important;
}
.m--reset-progress .fnc-nav__control-progress {
  transform: scaleX(0);
  transition: transform 0s 0s !important;
}
.m--autosliding-blocked .fnc-nav__control-progress {
  transition: all 0s 0s !important;
  transform: scaleX(0) !important;
}

/* NOT PART OF COMMON SLIDER STYLES */

.demo-cont {
  margin-top: 50px;
  width: 100%;
  box-shadow: rgba(66, 251, 242, 0.4) 3px -3px 10px, rgba(0, 0, 0) -5px 5px 15px;
  overflow: hidden;
  position: relative;
  height: 700px;
  perspective: 1500px;
  background: #000;
}
@media screen and (max-width: 1200px) {
  .example-slider .fnc-slide-4 .fnc-slide__inner,
  .example-slider .fnc-slide-4 .fnc-slide__mask-inner {
    background-position: -500px 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .demo-cont {
    height: 600px;
  }

  .example-slider .fnc-slide-3 .fnc-slide__inner,
  .example-slider .fnc-slide-3 .fnc-slide__mask-inner {
    background-position: -390px 0px;
  }
  .example-slider .fnc-slide-2 .fnc-slide__inner,
  .example-slider .fnc-slide-2 .fnc-slide__mask-inner {
    background-position: -500px 0;
  }
}

@media screen and (max-width: 768px) {
  .demo-cont {
    height: 500px !important;
  }
  .example-slider .fnc-slide-3 .fnc-slide__inner,
  .example-slider .fnc-slide-3 .fnc-slide__mask-inner {
    background-position: -390px 0px !important;
  }
  .example-slider .fnc-slide-2 .fnc-slide__inner,
  .example-slider .fnc-slide-2 .fnc-slide__mask-inner {
    background-position: -450px 0 !important;
  }
  .example-slider .fnc-slide-4 .fnc-slide__inner,
  .example-slider .fnc-slide-4 .fnc-slide__mask-inner {
    background-position: -450px 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .demo-cont {
    display: none;
  }
}

.example-slider .fnc-slide-4 .fnc-slide__inner,
.example-slider .fnc-slide-4 .fnc-slide__mask-inner {
  background-position: -450px 0;
}
